.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Changed from height to min-height */
  }
  
  .card {
    position: relative;
    width: 700px;
    height: 1000px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0px 5px 15px 5px #0000002b;
    border-radius: 20px;
  }
  
  .card-back {
    transform: rotateY(180deg);
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  
  .card-front img, .card-back img {
    max-width: 100%;
    height: auto;
  }